<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Cá Lớn Cá Bé</title>

        <link rel="stylesheet" href="../../Content/Theme/GameHTML5/css/reset.css">
        <link rel="stylesheet" href="../../Content/Theme/GameHTML5/css/clearfix.css">

        <style type="text/css">

            body {
                background-color: #f0f0f0;
                margin: 0px;
                overflow: hidden;
            }
            #container {
                position: absolute;
            }

        </style>
    </head>
    <body>
        <!--<div id="divflashId">
            <embed
                    width="100%"
                    height="100%"
                    pluginspage="http://www.macromedia.com/go/getflashplayer"
                    name="flashId"
                    flashvars="varstr=c196345cfe07ac64e575b875b92969fc9fee7b29cd6929d1f80fedb577f8baa99e52d31ee944f5af7adf6bc1acee4039d1eecb38c85b7c04bfa1b38dd5eab93fd463db00f1fb686c73cd86808a7636fa105b71e66aa30fdfcdf8b635b7218729e4cdbeff29103f124a38a1063ebdfbc3eee7b988d352ec229200dd8f0784f78d3fa1da2045290f48f134a552335ff08713b87dec0e42de1ae285492590ee14e8edb87590507b70b79c38edba9ec721eac91f91b4c317a7018f4304419e8a92f7717ea0090060a7c74eb2e21a1a7cf656c828ddd321a24ece1fcfae0021e45b257cef"
                    type="application/x-shockwave-flash"
                    bgcolor="#000000"
                    quality="high"
                    scale="ShowAll"
                    allowfullscreen="true"
                    wmode="window"
                    src="/Data/Games/PreLoader.swf">
        </div>-->
        <div id="container"></div>
        <script type="application/javascript" src="../../Content/Scripts/GameHTML5/lib/require.js" data-main="../../Content/Scripts/GameHTML5/src/Main"></script>
    </body>
</html>