<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>HTML5 Fullscreen API Demo - Fullscreen Entire Document</h1>

    <p>Click the button below to take the entire document into fullscreen mode</p>

    <button id="btn-01">Click to Go into Fullscreen Mode</button>

    <p>Click the button below exit fullscreen mode</p>

    <button id="btn-02">Click to Exit Fullscreen Mode</button>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed felis ipsum, dignissim vel vehicula sit amet, hendrerit eu justo. Vivamus ultricies vehicula elit vitae egestas. Nulla lacinia erat nec ullamcorper porta. Sed dignissim lacinia magna vel blandit. Aenean eu sodales lectus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vivamus at blandit urna. Proin sed facilisis elit. Sed lobortis auctor elementum. Nam sit amet massa quis lectus consectetur sollicitudin. Suspendisse potenti. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>

    <p>Maecenas nisi metus, accumsan eu velit ut, cursus laoreet orci. Sed eu mauris id libero ultrices hendrerit sit amet et elit. Nullam lobortis rhoncus arcu posuere vulputate. Nunc semper euismod ullamcorper. Vivamus cursus neque elit, vel ornare lectus vulputate a. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent quis augue ante.</p>

    <p>Curabitur sollicitudin, ante ac molestie faucibus, justo dolor maximus ante, et tincidunt turpis dui vitae eros. Pellentesque sit amet elementum ex. Cras luctus purus libero, non iaculis tellus consectetur quis. Integer pretium dictum ex, vitae consequat tellus ullamcorper quis. Etiam tincidunt elementum nibh interdum congue. Suspendisse elementum turpis nec orci cursus, sed porttitor turpis molestie. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras sed augue lectus. Aenean vitae gravida ligula.</p>
    <script src="test.js"></script>
</body>
</html>